.app{
    min-height: 100vh;
    background-color: #f7f7f7;
    padding-top: 39px;
}


.app h1{
    text-align: center;
}

.wrapper-tabs{
    margin-top: 10%;
}

.tabs{
    border: 1px solid #cacaca;
}

.tabs-list{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.tab{
    display: block;
    flex: 1;
}

.tabs-content{
    padding: 15px;
    background: #fff;
}
.tab-link{
    display: block;
    text-align: center;
    padding: 15px 0;
    color: #20232a;
    font-weight: 600;
}


.tab a:hover{
    color: #3c4458;
}
.tab.active .tab-link{
    color: #fff;
    background-color: #282c34;

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}